<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1071208609065-srgqhsj6c64tlo3g6m3nehstfvhiju7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071208609065-srgqhsj6c64tlo3g6m3nehstfvhiju7p</string>
	<key>API_KEY</key>
	<string>AIzaSyC0sIds7Nl7Pr3tME5jDjtoNxDG4Lb0zUw</string>
	<key>GCM_SENDER_ID</key>
	<string>1071208609065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kjcode.kktube</string>
	<key>PROJECT_ID</key>
	<string>project-3672224160362728522</string>
	<key>STORAGE_BUCKET</key>
	<string>project-3672224160362728522.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071208609065:ios:3445102af1b093c6</string>
	<key>DATABASE_URL</key>
	<string>https://project-3672224160362728522.firebaseio.com</string>
</dict>
</plist>
